body {
    margin: 0;
    padding: 4px 0px 0px 4px;
    background-color: #ffffff;
}

.header-fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    z-index: 1000;
    background-color: #000000;
    padding: 0px;
    color: #ffffff;
    font-weight: bold;
    opacity: 1.0;
}

.title {
    margin: 8px 0;
    width: 10%;
    color: #ffffff;
    font-size: 24px;
    padding: 0px 20px;
    font-weight: bold;
    text-shadow: 3px 3px 3px #31da07;    
}

.container {
    font-size: 16px;
    padding: 60px 20px 20px 20px;
}

.label {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #8f12c5;
    padding: 4px;
}

.label:hover {
    background-color: #8f12c5;
    color: #ffffff;
    border-radius: 4px;
}

