body {
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
}

.header_fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    z-index: 1000;
    background-color: #000000;
    padding: 0px;
    color: #ffffff;
    font-weight: bold;
    opacity: 1.0;
}

.header_container {
    width: 100%;
    max-width: 800px;
    margin: auto;  
}

.header_title {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin: 4px 0px;
}

.container {
    width: 100%;
    max-width: 800px;
    padding: 50px 0px 0px 0px;  
    margin: auto;  
}

.row {
    width: 100%;
    text-align: center;
}

.col_100 {
    display: inline-block;
    vertical-align: top;  
    width: 100%;  
    overflow: auto;
}
  
.col_50 {
    display: inline-block;
    vertical-align: top;  
    width: 50%;
    overflow: auto;  
}
  
.col_25 {
    display: inline-block;
    vertical-align: top;  
    width: 25%;
    overflow: auto;
}

.left {
    text-align: left;
}
  
.center {
    text-align: center;
}
  
.right {
    text-align: right;
}
  
a {
    text-decoration: none;
    color: #009688;
}
  
a:hover {
    background-color: #009688;
    color: #ffffff;
}
  
